{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/604ffa8460.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/vue-next-select/dist/index.min.css" />
    <script src="https://unpkg.com/vue-next-select/dist/vue-next-select.iife.prod.js"></script>
    {% block title %}
        <!-- page specific title here -->
	{% endblock %}
</head>

<header class="tc pv2 pv3-ns ba0 avenir" style="background-image: url({% static 'maint_log/images/greyscale_engine.png' %}); background-repeat: no-repeat; background-size: cover">
    <h1 class="tc white bg-black-40">Vehicle Maintenance Logbook</h1>
    {% block header %}
        <!-- page specific header here -->
    {% endblock %}
</header>

<body class="bg-black-30 avenir center" style="background-image: url({% static 'maint_log/images/background.jpg' %}); background-repeat: no-repeat; background-size: fill">
    {% block content %}
        <!-- page specific content here -->
    {% endblock %}
</body>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc">© 2022 <b class="ttu">Vehicle Maintenance Logbook</b>., All Rights Reserved</small>
    <div class="tc mt3">
      <a href="#" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
      <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
      <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
  </footer>

</html>