{% extends 'maint_log/core.html' %}

{% block title %}
	<title>Vehicle Maintenance Logbook</title>
{% endblock %}
	
{% block header %}
{% endblock %}


{% block content %}
    <span class="flex justify-around tc f6 black-80 fw6 ttu pa1 pt3 tracked">Logged in as {{ request.user.username }}</span>
    <a href="/user-logout/" class="flex justify-around tc link grow f6 black-80 fw6 ttu pa1 tracked">Log Out</a>
    <div id="app" class="flex flex-column items-center">
        {% csrf_token %}
        <p class="f4-ns b">Search by Vehicle Identification Number (VIN):</p>
		<form class="pb2" @submit.prevent="searchByVIN">
			<input class="bw1" v-model="userVIN" type="text" id="search-VIN">
			<input class="f6 link dim  ph3 pv1 mb2 white bw0 bg-black-70 pointer" type="submit" value="Search VIN">
		</form>

		<ul class="br2 ba b--dashed bw2 mw7" style="background-color: rgba(255, 0, 0, 0.25);" v-if="output && output.ErrorText[0] !== '0'">
            <h3 class="pa2 pr4">The following error(s) occured:</h3>
            <li class="pb3 bl3" v-for="error in output.ErrorText.split(';')">[[ error ]]</li>
        </ul>
        <div class="pt2 pb4" v-if="output">
            <div class="overflow-auto">
                <table class="f6 w-100 mw8 center" cellspacing="0">
                    <tbody>
                        <tr v-if="output.VIN">
                            <td class="pv2 pr3 bb b--black-20 b pl3">VIN</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.VIN ]]</td> 
                        </tr>
                        <tr v-if="output.ModelYear">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Year</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.ModelYear ]]</td> 
                        </tr>
                        <tr v-if="output.Make">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Make</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.Make ]]</td> 
                        </tr>
                        <tr v-if="output.Model">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Model</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.Model ]]</td> 
                        </tr>
                        <tr v-if="output.Trim">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Trim</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.Trim ]]</td> 
                        </tr>
                        <tr v-if="output.Doors">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Doors</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.Doors ]]</td> 
                        </tr>
                        <tr v-if="output.BodyClass">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Body Type</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.BodyClass ]]</td> 
                        </tr>
                        <tr v-if="output.GVWR">
                            <td class="pv2 pr3 bb b--black-20 b pl3">GVWR</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.GVWR ]]</td> 
                        </tr>
                        <tr v-if="output.TransmissionSpeeds">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Transmission Speeds</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.TransmissionSpeeds ]]</td> 
                        </tr>
                        <tr v-if="output.TransmissionStyle">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Transmission Type</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.TransmissionStyle ]]</td> 
                        </tr>
                        <tr v-if="output.FuelTypePrimary">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Fuel Type</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.FuelTypePrimary ]]</td> 
                        </tr>
                        <tr v-if="output.EngineModel">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Engine Model</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.EngineModel ]]</td> 
                        </tr>
                        <tr v-if="output.EngineHP">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Engine HP</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.EngineHP ]] hp</td>
                        </tr> 
                        <tr v-if="output.DisplacementL">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Displacement</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.DisplacementL ]] L</td>
                        </tr> 
                        <tr v-if="output.EngineConfiguration">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Engine Configuration</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.EngineConfiguration ]]</td>
                        </tr> 
                        <tr v-if="output.EngineCylinders">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Engine Cylinders</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.EngineCylinders ]]</td>
                        </tr> 
                        <tr v-if="output.ValveTrainDesign">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Valvetrain Design</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.ValveTrainDesign ]]</td>
                        </tr> 
                        <tr v-if="output.PlantCity">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Plant City</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.PlantCity ]]</td>
                        </tr>
                        <tr v-if="output.PlantState">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Plant State</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.PlantState ]]</td> 
                        </tr>
                        <tr v-if="output.PlantCountry">
                            <td class="pv2 pr3 bb b--black-20 b pl3">Plant Country</td>
                            <td class="pv2 pr3 bb b--black-20">[[ output.PlantCountry ]]</td> 
                        </tr>
                    </tbody>
                </table>
                <form class="tc" @submit.prevent="closeVIN">
                    <input class="f6 link dim br2 ph3 pv2 mb2 db white bg-black pointer tc center" type="submit" value="Close VIN Data">
                </form>
            </div>
        </div>
        <div>
            <label class="f4-ns b dib pt2 pt3-ns" for="Add Vehicle">Add a Vehicle to Your Garage</label>
            
            <form v-if="!userYear" class="pb2 lh-copy tl db">
                <label class="pr2" for="search-year">Year:</label>
                <vue-select
                    color="red"
                    :searchable="true"
                    :close-on-select="true"
                    :clear-on-close="true"
                    v-model="userYear"
                    :options = "[ ...Array(50).keys() ].map(x => 2023 - x)">
                </vue-select>
            </form>
        
            <span v-if="userYear" class="db">Year: [[ userYear ]]</span>
            <button v-if="userYear" class="f6 pointer dim ph2 pv0 mb2 white bg-blue" v-on:click="undo('year')">Undo Year</button>
        
            <form v-if="userYear && !userMake" class="pv2">
                <label class="pr2" for="search-make">Make:</label>
                <vue-select
                    :searchable="true"
                    :close-on-select="true"
                    :clear-on-close="true"
                    v-model="userMake"
                    @click="searchByMakeAndYear"
                    @change="searchByMakeAndYear"
                    :options = "makeList.map(makeObject => makeObject.Make_Name)">
                </vue-select>
            </form>

            <span v-if="userMake" class="db">Make: [[ userMake ]]</span>
            <button v-if="userMake" class="f6 pointer dim ph2 pv0 mb2 white bg-blue" v-on:click="undo('make')">Undo Make</button>

            <form v-if="userMake && !userModel" class="pv2">
                <label class="pr2" for="search-model">Model:</label>
                <vue-select
                    item-color="red"
                    :searchable="true"
                    :close-on-select="true"
                    :clear-on-close="true"
                    v-model="userModel"
                    :options = "modelList.map(modelObject => modelObject.Model_Name)">
                </vue-select>
            </form>

            <span  v-if="userModel" class="db">Model: [[ userModel ]]</span>
            <button v-if="userModel" class="f6 pointer dim ph2 pv0 mb2 white bg-blue" v-on:click="undo('model')">Undo Model</button>
            
            <form v-if="userModel" @submit.prevent="addVehicle">
                <input class="f6 link dim br2 ph3 pv2 mb2 db white bg-black pointer tc center" type="submit" value="Add This Vehicle">
            </form>

        </div>

        <br>
        <label class="f4-ns b pt3" for="vehicle-select">Your Garage</label>
        <main class="flex flex-wrap justify-center mw7">
            <figure
                v-for="v in vehicles"
                :style="
                    v === vehicle
                        ? 'background-color: rgba(208, 217, 113, 0.25);'
                        : 'background-color: rgba(0, 140, 255, 0.25);'
                "
                @click="getMaintenanceLogs(v)"
                class="pa3 br2 bw2 ba flex flex-column link pointer"
            >[[ v.label ]]
                <button class="light-red f7 link dim br3 ph2 pv1 mv2 db white bg-black pointer tc center" @click="checkDeleteVehicle(v)">Delete</button>
            </figure>
        </main>

        <br>

        <div v-if="vehicle">
            <label class="f4-ns b" for="Add Maintenance Log Entry">Add a Maintenance Logbook Entry</label>
            <form @submit.prevent="addMaintenanceLog()">
                <label for="new-maintenance">Name  </label>
                <input v-model="newMaintenanceName" type="text" id="new-maintenance" autocomplete="off">
                <br>
                <label for="new-maintenance">Date    </label>
                <input v-model="newMaintenanceDate" type="date" id="new-maintenance" min="1940-01-01" autocomplete="off">
                <br>
                <label for="new-maintenance">Mileage  </label>
                <input v-model="newMaintenanceMileage" type="number" id="new-maintenance" min="0" max="1000000" autocomplete="off">
                <br>
                <label for="new-maintenance">Notes    </label>
                <input v-model="newMaintenanceNotes" type="text" id="new-maintenance" autocomplete="off">
                <br>
                <input class="green f6 link dim br3 ph3 pv2 mv2 db white bg-black pointer center" type="submit" value="Add Maintenance Log Entry">
                <label for="trigger" class="f6 link dim br3 ph3 pv2 mb2 db white bg-black pointer tc center">See Recommended Maintenance Intervals</label>
            </form>
        </div>


        <div v-if="maintenanceLogs.length" class="pa4">
            <div class="overflow-auto">
                <table class="f6 mw4 mw7-ns center" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="fw6 pt3 tc bb b--black-20 tl pb3 pl3 pr3 bg-white-70 f5 b">Service</th>
                            <th class="fw6 pt3 tc bb b--black-20 tl pb3 pl3 pr3 bg-white-70 f5 b">Date</th>
                            <th class="fw6 pt3 tc bb b--black-20 tl pb3 pl3 pr3 bg-white-70 f5 b">Mileage</th>
                            <th class="fw6 pt3 tc bb b--black-20 tl pb3 pl3 pr3 bg-white-70 f5 b">Notes</th>
                            <th class="fw6 pt3 tc bb b--black-20 tl pb3 pl3 pr3 bg-white-70 f5 b"></th>
                        </tr>
                    </thead>
                    <tbody class="lh-copy">
                        <tr class="stripe-dark" v-for="maintenanceLog in maintenanceLogs">
                            <td class="ph2">[[ maintenanceLog.name ]]</td>
                            <td class="ph2 tc">[[ new Date(maintenanceLog.date).toLocaleDateString() ]]</td>
                            <td class="ph2 tc">[[ maintenanceLog.mileage.toLocaleString() ]]</td>
                            <td class="ph2">[[ maintenanceLog.notes ]]</td>
                            <td class="ph2"><button class="light-red link dim br3 ph2 pv1 mv2 db white bg-black pointer tc center" @click="checkDeleteLog(maintenanceLog.id)">Delete</button></td>    
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



	<script>
		const App = {
			data () {
				return {
                    showingMaintenanceLogs: false,

                    vehicles: [],
                    vehicle: null,

					maintenanceLogs: [],
					newMaintenanceName: '',
					newMaintenanceDate: '',
					newMaintenanceMileage: '',
					newMaintenanceNotes: '',

					csrf_token: '',

                    userYear: '',
                    userMake: '',
                    userModel: '',
                    makeList: [],
                    modelList: [],

                    output: '',
                    userVIN: '',
                    baseUrl: 'https://vpic.nhtsa.dot.gov/api/vehicles/',

                    maintIntervals: {
                        "Cabin Air Filter Replace": "30000 miles or every 2 years",
                        "Engine Air Filter Replace": "30000 miles or every 2 years",
                        "Oil Change" : "7500 miles or every year",
                        "Tire Rotation": "5000 miles",
                        "Spark Plugs": "100000 miles",
                        "Transmission Fluid Replace": "30000 miles or every 2 years",
                        "Differential Fluid Replace": "30000 miles or every 2 years",
                        "Engine Coolant Replace": "60000 or every 5 years",
                        "Brake Fluid Replace": "Every 3 years",
                        "Timing Belt Replace": "100000 miles",
                    }

				}
			},

			delimiters: ['[[', ']]'],

			created () {
                this.getAllMakes()
                this.getVehicles()
			},

			mounted () {
				const input = document.querySelector('input[name="csrfmiddlewaretoken"]')
				this.csrf_token = input.value
			},

			methods: {
                searchByVIN () {
                    axios({
                        url: this.baseUrl + 'DecodeVinValues/' + this.userVIN,
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.output = response.data.Results[0]
                        this.userYear = this.output.ModelYear
                        this.userMake = this.output.Make
                        this.userModel = this.output.Model
                    })
                },
                closeVIN () {
                    this.output = ''
                },
                getAllMakes () {
                    axios({
                        url: this.baseUrl + 'GetAllMakes/',
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.makeList = response.data.Results
                    })
                },
                searchByMakeAndYear () {
                    if (this.userMake === '') return
                    axios({
                        url: this.baseUrl + 'GetModelsForMakeYear/make/' + this.userMake + '/modelyear/' + this.userYear,
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.modelList = response.data.Results
                    })
                },
                undo (userObject) {
                    if (userObject == 'year') {
                        this.userYear = ''
                        this.userMake = ''
                        this.userModel =''
                        this.modelList = []
                    }else if (userObject == 'make') {
                        this.userMake = ''
                        this.userModel =''
                        this.modelList = []
                    }else if (userObject == 'model') {
                        this.userModel = ''
                    }
                },
                getVehicles () {
                    axios({
                        method: 'get',
                        url: '/get-vehicles'
                    }).then(res =>{
                        console.log(res.data)
                        this.vehicles = res.data.vehicles
                        this.vehicles.forEach(vehicle => vehicle.label = vehicle.year + ' ' + vehicle.make + ' ' + vehicle.model)
                    })
                },

                addVehicle () {
					axios({
						method: 'post',
						url: '/add-vehicle/',
						data: {
							year: this.userYear,
							make: this.userMake,
							model: this.userModel,
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getVehicles())
                    this.userYear = ''
					this.userMake = ''
					this.userModel = ''
				},

                checkDeleteVehicle(vehicle) {
                    Swal.fire ({
                        title: 'Are you sure you want to delete this vehicle from your garage?',
                        showDenyButton: true,
                        showCancelButton: false,
                        confirmButtonText: 'Keep Vehicle',
                        denyButtonText: 'Delete Vehicle',
                        customClass: {
                            actions: 'my-actions',
                            confirmButton: 'order-1',
                            denyButton: 'order-2',
                        }
                        }).then((res) => {
                            console.log(res)
                            if (res.isConfirmed) {
                                Swal.fire('No change made.', '', 'success')
                            } else if (res.isDenied) {
                                Swal.fire('Vehicle deleted.', '', 'info')
                                this.deleteVehicle(vehicle.id)
                            }
                    })
                },

                deleteVehicle (id) {
                    axios({
                        method: 'post',
                        url:'/delete-vehicle/' + id,
                        headers: {
                            'X-CSRFToken': this.csrf_token
                        }
                    }).then(res => {
                        this.getVehicles()
                    }).then(res => this.getVehicles())
                    this.vehicle = ''

                },

				getMaintenanceLogs (vehicle) {
                    this.vehicle = vehicle
                    
					axios({
						method: 'get',
						url: '/get-maintenance-logs/' + this.vehicle.id
					}).then(res => {
						console.log(res.data)
						this.maintenanceLogs = res.data.maintenance_items.sort((a, b) => b.mileage - a.mileage)
                        this.showingMaintenanceLogs = true
					})
				},

				addMaintenanceLog () {
					axios({
						method: 'post',
						url: '/add-maintenance-log/',
						data: {
							name: this.newMaintenanceName,
							date: this.newMaintenanceDate,
							mileage: this.newMaintenanceMileage,
							notes: this.newMaintenanceNotes,
                            vehicle: this.vehicle.id
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getMaintenanceLogs(this.vehicle))
                    this.newMaintenanceName = ''
					this.newMaintenanceDate = ''
					this.newMaintenanceMileage = ''
					this.newMaintenanceNotes = ''
				},

                checkDeleteLog (id) {
                    Swal.fire ({
                        title: 'Are you sure you want to delete this maintenance log from the record?',
                        showDenyButton: true,
                        showCancelButton: false,
                        confirmButtonText: 'Keep Log',
                        denyButtonText: 'Delete Log',
                        customClass: {
                            actions: 'my-actions',
                            confirmButton: 'order-1',
                            denyButton: 'order-2',
                        }
                        }).then((res) => {
                            console.log(res)
                            if (res.isConfirmed) {
                                Swal.fire('No change made.', '', 'success')
                            } else if (res.isDenied) {
                                Swal.fire('Log deleted.', '', 'info')
                                this.deleteMaintLog(id)
                            }
                    })
                },

                deleteMaintLog (id) {
                    axios({
                        method: 'post',
                        url:'/delete-maintenance-log/' + id,
                        headers: {
                            'X-CSRFToken': this.csrf_token
                        }
                    }).then(res => {
                        this.getMaintenanceLogs(this.vehicle)
                    })

                }
			}
		}
		const app = Vue.createApp(App)
        app.component('vue-select', VueNextSelect)
		app.mount('#app')
	</script>
{% endblock %}

