{% extends 'maint_log/core.html' %}

{% block title %}
	<title>Vehicle Maintenance Logbook</title>
{% endblock %}
	
{% block header %}
        <span class="flex content-center justify-around f6 black-80 fw6 ttu pa1 tracked">Logged in as {{ request.user.username }}</span>
        <a href="" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">My Page</a>
        <a href="/user-logout/" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">Logout</a>
{% endblock %}


{% block content %}
    <h1>Vehicle Maintenance Logbook</h1>
        <h3>User <i>IS</i> Authenticated</h3>
        <div id="app">
            {% csrf_token %}
            <label for="Add Vehicle">Add a Vehicle to Your Garage</label>
            <form @submit.prevent="addVehicle">
                <label for="new-vehicle">Year</label>
                <input v-model="newVehicleYear" type="number" id="new-vehicle" min="1940" max="2023"  autocomplete="off">
                <br>
                <label for="new-vehicle">Make</label>
                <input v-model="newVehicleMake" type="text" id="new-vehicle" autocomplete="off">
                <br>
                <label for="new-vehicle">Model</label>
                <input v-model="newVehicleModel" type="text" id="new-vehicle" autocomplete="off">
                <br>
                <input type="submit" value="Add Vehicle">
            </form>

            <ul>
                <li v-for="vehicle in vehicles">
                    [[ vehicle.year ]]
                    [[ vehicle.make ]]
                    [[ vehicle.model ]]
                </li>
            </ul>

            <label for="Add Maintenance Log Entry">Add a Maintenance Logbook Entry</label>
            <form @submit.prevent="addMaintenanceLog">
                <label for="new-maintenance">Name</label>
                <input v-model="newMaintenanceName" type="text" id="new-maintenance" autocomplete="off">
                <br>
                <label for="new-maintenance">Date</label>
                <input v-model="newMaintenanceDate" type="date" id="new-maintenance" min="1940-01-01" autocomplete="off">
                <br>
                <label for="new-maintenance">Mileage</label>
                <input v-model="newMaintenanceMileage" type="number" id="new-maintenance" min="0" max="1000000" autocomplete="off">
                <br>
                <label for="new-maintenance">Notes</label>
                <input v-model="newMaintenanceNotes" type="text" id="new-maintenance" autocomplete="off">
                <br>
                <input type="submit" value="Add Maintenance Log Entry">
            </form>
            <ul>
                <li v-for="maintenanceLog in maintenanceLogs">
                    [[ maintenanceLog.name ]]
                    [[ maintenanceLog.date ]]
                    [[ maintenanceLog.mileage ]]
                    [[ maintenanceLog.notes ]]
                </li>
            </ul>
        </div>



	<script>
		const App = {
			data () {
				return {
                    vehicles: [],
                    newVehicleYear: '',
                    newVehicleMake: '',
                    newVehicleModel: '',

					maintenanceLogs: [],
					newMaintenanceName: '',
					newMaintenanceDate: '',
					newMaintenanceMileage: '',
					newMaintenanceNotes: '',

					csrf_token: ''
				}
			},

			delimiters: ['[[', ']]'],

			created () {
                this.getVehicles()
				this.getMaintenanceLogs()
			},

			mounted () {
				const input = document.querySelector('input[name="csrfmiddlewaretoken"]')
				this.csrf_token = input.value
			},

			methods: {
                getVehicles () {
                    axios({
                        method: 'get',
                        url: '/get-vehicles'
                    }).then(res =>{
                        console.log(res.data)
                        this.vehicles = res.data.vehicles
                    })
                },

                addVehicle () {
					axios({
						method: 'post',
						url: '/add-vehicle/',
						data: {
							year: this.newVehicleYear,
							make: this.newVehicleMake,
							model: this.newVehicleModel,
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getVehicles())
                    this.newVehicleYear = ''
					this.newVehicleMake = ''
					this.newVehicleModel = ''
				},

				getMaintenanceLogs () {
					axios({
						method: 'get',
						url: '/get-maintenance-logs'
					}).then(res => {
						console.log(res.data)
						this.maintenanceLogs = res.data.maintenance_items
					})
				},

				addMaintenanceLog () {
					axios({
						method: 'post',
						url: '/add-maintenance-log/',
						data: {
							name: this.newMaintenanceName,
							date: this.newMaintenanceDate,
							mileage: this.newMaintenanceMileage,
							notes: this.newMaintenanceNotes,
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getMaintenanceLogs())
                    this.newMaintenanceName = ''
					this.newMaintenanceDate = ''
					this.newMaintenanceMileage = ''
					this.newMaintenanceNotes = ''
				}
			}
		}
		const app = Vue.createApp(App)
		app.mount('#app')
	</script>
{% endblock %}