{% extends 'maint_log/core.html' %}

{% block title %}
	<title>Vehicle Maintenance Logbook</title>
{% endblock %}
	
{% block header %}
        <span class="flex content-center justify-around f6 black-80 fw6 ttu pa1 tracked">Logged in as {{ request.user.username }}</span>
        <a href="/user-logout/" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">Logout</a>
{% endblock %}


{% block content %}
    <h1>Vehicle Maintenance Logbook</h1>
    <div id="app">
        {% csrf_token %}
        <p class="b">Search by Vehicle Identification Number (VIN):</p>
		<form class="pb2" @submit.prevent="searchByVIN">
			<label class="pr2" for="search-VIN">VIN:</label>
			<input class="" v-model="userVIN" type="text" id="search-VIN">
			<input class="f6 pointer dim ph3 pv1 mb2 dib white bg-black" type="submit" value="Search VIN">
		</form>

		<ul class="bg-light-red br3 pv1" v-if="output && output.ErrorText[0] !== '0'">
            <h3 class="">The following error(s) occured:</h3>
            <li class="pb2" v-for="error in output.ErrorText.split(';')">[[ error ]]</li>
        </ul>

		<ul v-if="output" class="list measure">
            <li v-if="output.VIN">VIN: [[ output.VIN ]]</li>
            <li v-if="output.ModelYear">Year: [[ output.ModelYear ]]</li>
            <li v-if="output.Make">Make: [[ output.Make ]]</li>
            <li v-if="output.Model">Model: [[ output.Model ]]</li>
            <li v-if="output.Trim">Trim: [[ output.Trim ]]</li>
            <li v-if="output.Doors">Doors: [[ output.Doors ]]</li>
            <li v-if="output.BodyClass">Body Type: [[ output.BodyClass ]]</li>
            <li v-if="output.GVWR">GVWR: [[ output.GVWR ]]</li>
            <li v-if="output.TransmissionSpeeds">Transmission Speeds: [[ output.TransmissionSpeeds ]]</li>
            <li v-if="output.TransmissionStyle">Transmission Type: [[ output.TransmissionStyle ]]</li>
            <li v-if="output.FuelTypePrimary">Fuel Type: [[ output.FuelTypePrimary ]]</li>
            <li v-if="output.EngineModel">Engine Model: [[ output.EngineModel ]]</li>
            <li v-if="output.EngineHP">Engine HP: [[ output.EngineHP ]] hp</li>
            <li v-if="output.DisplacementL">Displacement: [[ output.DisplacementL ]] L</li>
            <li v-if="output.EngineConfiguration">Engine Configuration: [[ output.EngineConfiguration ]]</li>
            <li v-if="output.EngineCylinders">Engine Cylinders: [[ output.EngineCylinders ]]</li>
            <li v-if="output.ValveTrainDesign">Valvetrain Design: [[ output.ValveTrainDesign ]]</li>
            <li v-if="output.PlantCity">Plant City: [[ output.PlantCity ]]</li>
            <li v-if="output.PlantState">Plant State: [[ output.PlantState ]]</li>
            <li v-if="output.PlantCountry">Plant Country: [[ output.PlantCountry ]]</li>
            <form @submit.prevent="closeVIN">
                <input type="submit" value="Close VIN Data">
            </form>
		</ul>


        <label class="b" for="Add Vehicle">Add a Vehicle to Your Garage</label>
        
        <form v-if="!userYear" class="pb2">
            <label class="pr2" for="search-year">Year:</label>
            <vue-select
                :searchable="true"
                :close-on-select="true"
                :clear-on-close="true"
                v-model="userYear"
                :options = "[ ...Array(50).keys() ].map(x => 2023 - x)">
            </vue-select>
        </form>
    
        <span v-if="userYear" class="db">Year: [[ userYear ]]</span>
        <button v-if="userYear" class="f6 pointer dim ph2 pv0 mb2 white bg-blue" v-on:click="undo('year')">Undo Year</button>
    
        <form v-if="userYear && !userMake" class="pv2">
            <label class="pr2" for="search-make">Make:</label>
            <vue-select
                :searchable="true"
                :close-on-select="true"
                :clear-on-close="true"
                v-model="userMake"
                @click="searchByMakeAndYear"
                @change="searchByMakeAndYear"
                :options = "makeList.map(makeObject => makeObject.Make_Name)">
            </vue-select>
        </form>

        <span v-if="userMake" class="db">Make: [[ userMake ]]</span>
        <button v-if="userMake" class="f6 pointer dim ph2 pv0 mb2 white bg-blue" v-on:click="undo('make')">Undo Make</button>

        <form v-if="userMake && !userModel" class="pv2">
            <label class="pr2" for="search-model">Model:</label>
            <vue-select
                :searchable="true"
                :close-on-select="true"
                :clear-on-close="true"
                v-model="userModel"
                :options = "modelList.map(modelObject => modelObject.Model_Name)">
            </vue-select>
        </form>
    
        <span  v-if="userModel" class="db">Model: [[ userModel ]]</span>
        <button v-if="userModel" class="f6 pointer dim ph2 pv0 mb2 dib white bg-blue" v-on:click="undo('model')">Undo Model</button>
        
        <form v-if="userModel" @submit.prevent="addVehicle">
            <input type="submit" value="Add This Vehicle">
        </form>

        <!-- <label class="b" for="vehicle-select">Choose a vehicle:</label>
        <select for="vehicle-select" v-model="vehicleSelection" @change="getMaintenanceLogs">
            <option v-for="vehicle in vehicles" v-bind:value="vehicle">
                [[ vehicle.year ]]
                [[ vehicle.make ]]
                [[ vehicle.model ]]
            </option>
        </select> -->

        <form for="vehicle-select" class="pv2">
            <label class="b" for="vehicle-select">Choose a vehicle:</label>
            <vue-select
                :searchable="true"
                :close-on-select="true"
                :clear-on-close="true"
                v-model="vehicleSelection"
                @click="getMaintenanceLogs"
                @change="getMaintenanceLogsr"
                :options = "vehicles">
            </vue-select>
        </form>
    
        <br>

        <label class="b" for="Add Maintenance Log Entry">Add a Maintenance Logbook Entry</label>
        <form @submit.prevent="addMaintenanceLog">
            <label for="new-maintenance">Name</label>
            <input v-model="newMaintenanceName" type="text" id="new-maintenance" autocomplete="off">
            <br>
            <label for="new-maintenance">Date</label>
            <input v-model="newMaintenanceDate" type="date" id="new-maintenance" min="1940-01-01" autocomplete="off">
            <br>
            <label for="new-maintenance">Mileage</label>
            <input v-model="newMaintenanceMileage" type="number" id="new-maintenance" min="0" max="1000000" autocomplete="off">
            <br>
            <label for="new-maintenance">Notes</label>
            <input v-model="newMaintenanceNotes" type="text" id="new-maintenance" autocomplete="off">
            <br>
            <input type="submit" value="Add Maintenance Log Entry">
        </form>
        <ul>
            <li v-for="maintenanceLog in maintenanceLogs">
                [[ maintenanceLog.name ]]
                [[ maintenanceLog.date ]]
                [[ maintenanceLog.mileage ]]
                [[ maintenanceLog.notes ]]
            </li>
        </ul>
    </div>



	<script>
		const App = {
			data () {
				return {
                    vehicles: [],

                    vehicleSelection: null,

					maintenanceLogs: [],
					newMaintenanceName: '',
					newMaintenanceDate: '',
					newMaintenanceMileage: '',
					newMaintenanceNotes: '',

					csrf_token: '',

                    userYear: '',
                    userMake: '',
                    userModel: '',
                    makeList: [],
                    modelList: [],

                    output: '',
                    userVIN: '',
                    baseUrl: 'https://vpic.nhtsa.dot.gov/api/vehicles/',

				}
			},

			delimiters: ['[[', ']]'],

			created () {
                this.getAllMakes()
                this.getVehicles()
			},

			mounted () {
				const input = document.querySelector('input[name="csrfmiddlewaretoken"]')
				this.csrf_token = input.value
			},

			methods: {
                searchByVIN () {
                    axios({
                        url: this.baseUrl + 'DecodeVinValues/' + this.userVIN,
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.output = response.data.Results[0]
                        this.userYear = this.output.ModelYear
                        this.userMake = this.output.Make
                        this.userModel = this.output.Model
                    })
                },
                closeVIN () {
                    this.output = ''
                },
                getAllMakes () {
                    axios({
                        url: this.baseUrl + 'GetAllMakes/',
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.makeList = response.data.Results
                    })
                },
                searchByMakeAndYear () {
                    if (this.userMake === '') return
                    axios({
                        url: this.baseUrl + 'GetModelsForMakeYear/make/' + this.userMake + '/modelyear/' + this.userYear,
                        method: 'get',
                        headers: {
                            Accept: 'application/json'
                        },
                        params: { 
                            format: 'json',
                        },
                    }).then(response => {
                        console.log(response)
                        this.modelList = response.data.Results
                    })
                },
                undo (userObject) {
                    if (userObject == 'year') {
                        this.userYear = ''
                        this.userMake = ''
                        this.userModel =''
                        this.modelList = []
                    }else if (userObject == 'make') {
                        this.userMake = ''
                        this.userModel =''
                        this.modelList = []
                    }else if (userObject == 'model') {
                        this.userModel = ''
                    }
                },
                getVehicles () {
                    axios({
                        method: 'get',
                        url: '/get-vehicles'
                    }).then(res =>{
                        console.log(res.data)
                        this.vehicles = res.data.vehicles
                    })
                },

                addVehicle () {
					axios({
						method: 'post',
						url: '/add-vehicle/',
						data: {
							year: this.userYear,
							make: this.userMake,
							model: this.userModel,
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getVehicles())
                    this.userYear = ''
					this.userMake = ''
					this.userModel = ''
				},

				getMaintenanceLogs () {
                    console.log(this.vehicleSelection.id)
					axios({
						method: 'get',
						url: '/get-maintenance-logs/' + this.vehicleSelection.id
					}).then(res => {
						console.log(res.data)
						this.maintenanceLogs = res.data.maintenance_items
					})
				},

				addMaintenanceLog () {
					axios({
						method: 'post',
						url: '/add-maintenance-log/',
						data: {
							name: this.newMaintenanceName,
							date: this.newMaintenanceDate,
							mileage: this.newMaintenanceMileage,
							notes: this.newMaintenanceNotes,
                            vehicle: this.vehicleSelection.id
						},
						headers: {
							'X-CSRFToken': this.csrf_token
						}
					}).then(res => this.getMaintenanceLogs())
                    this.newMaintenanceName = ''
					this.newMaintenanceDate = ''
					this.newMaintenanceMileage = ''
					this.newMaintenanceNotes = ''
				}
			}
		}
		const app = Vue.createApp(App)
        app.component('vue-select', VueNextSelect)
		app.mount('#app')
	</script>
{% endblock %}