{% extends 'maint_log/core.html' %}

{% block title %}
	<title>Log In</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <span class="flex justify-around tc f6 near-black fw6 ttu tc pa1 pt3 tracked">Please log in to continue</span>
    <span class="flex justify-around f6 black-80 fw6 ttu tc pa1 tracked">(An account is needed to use this app)</span>
    <div class="dib flex justify-around">
        <a href="/user-signup/" class="tc link grow f6 near-black fw6 ttu pa1 tracked">Sign Up</a>
    </div>
        <main class="pa1 black-80">
            <form class="measure center" action="{% url 'maint_log:user-login' %}" method="POST">
                {% csrf_token %}
                <fieldset id="sign_in" class="ba b--transparent ph0 mh0">
                    <legend class="f4 fw6 ph0 mh0">Log In</legend>
                    <div class="mt3">
                        <label class="db fw6 lh-copy f6" for="username">Username</label>
                        <input class="br2 pa2 input-reset ba bg-light-gray w-100" type="text" name="username"  id="username">
                    </div>
                    <div class="mv3">
                        <label class="db fw6 lh-copy f6" for="password">Password</label>
                        <input class="br2 pa2 input-reset ba bg-light-gray w-100" type="password" name="password"  id="password" autocomplete="off">
                    </div>
                </fieldset>
                <div class="">
                    <input class="br2 b ph3 pv2 input-reset ba b--black grow pointer f6 dib" type="submit" value="Sign In">
                </div>
                <div class="dib lh-copy mt3">
                    <a href="/user-signup/" class="f6 link dim black">Need an account? Click here to sign up!</a>
                </div>
                <p class="b dark-red">{{ message }}</p>
            </form>
        </main>
{% endblock %}















